{% extends 'parent.html' %}

{% block title %}
    <title>Child</title>
{% endblock %}


{% block body_block %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.indianexpress.com/2023/01/virat-kohli-rohit-sharma.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rohit & Virat</h5>
      <p class="card-text">Virat Kohli and Rohit Sharma - two of the highest run-scorers in T20I cricket - may not be picked in the format going forward with the BCCI planning to induct young players under the leadership of Hardik Pandya, according to sources</p>
      <a href="https://sports.ndtv.com/cricket/rohit-sharma-virat-kohli-unlikely-to-be-selected-for-t20is-sources-3677659" class="btn btn-primary">Read Full News</a>
    </div>
  </div>
{% endblock %}